<!--The content below is only a placeholder and can be replaced.-->
<table class="filter" >
  <tr class="title">
    <td colspan="2">Filter</td>
  </tr>
  <tr>
    <th>PN</th>
    <td><input [(ngModel)]="filter.partNumber" size="60"></td>
  </tr>
  <tr>
    <th>Part Name</th>
    <td><input [(ngModel)]="filter.partName" type="text" size="60"></td>
  </tr>
  <tr>
    <th>Vendor</th>
    <td><input [(ngModel)]="filter.vendor" type="text" size="60"></td>
  </tr>
  <tr>
    <th>QTY</th>
    <td><input [(ngModel)]="filter.quantity" type="text" size="10"> <div class="red" *ngIf="quantityError" >Qty invalid</div></td>
  </tr>
  <tr>
    <th>Shipped</th>
    <td><div>after <input [(ngModel)]="afterShipped" type="text" size="20"><div class="red" *ngIf="afterShippedError" >Date invalid</div>
      before <input [(ngModel)]="beforeShipped" type="text" size="20"> <div class="red" *ngIf="beforeShippedError" >Date invalid</div></div></td>
  </tr>
  <tr>
    <th>Receiver</th>
    <td>after <input [(ngModel)]="afterReceived" type="text" size="20"><div class="red" *ngIf="afterReceivedError" >Date invalid</div>
      before <input [(ngModel)]="beforeReceived" type="text" size="20"><div class="red" *ngIf="beforeReceivedError" >Date invalid</div></td>
  </tr>
</table>
<button class="submit" (click)="search()">Filter</button>

<table class="results">
  <tr>
    <th (click)="order('partNumber')">PN</th>
    <th (click)="order('partName')">Part Name</th>
    <th (click)="order('vendor')">Vendor</th>
    <th (click)="order('quantity')">Qty</th>
    <th (click)="order('shipped')">Shipped</th>
    <th (click)="order('received')">Receiver</th>
  </tr>
  <tr *ngFor="let part of parts">
    <td>{{part.partNumber}}</td>
    <td>{{part.partName}}</td>
    <td>{{part.vendor}}</td>
    <td>{{part.quantity}}</td>
    <td>{{part.shipped | date: 'MMMM dd, yyyy'}}</td>
    <td>{{part.received | date: 'MMMM dd, yyyy'}}</td>
  </tr>


</table>
