.filter{
  width: 100%;
  border: 1px solid #b7b7bf;
  border-spacing: 0;
  border-collapse: collapse;
}

.filter tr.title{
  background: #ebebeb;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #b7b7bf;
}

.filter tr{
  border-top: 1px dashed #b7b7bf;
}

.filter tr:first-child{
  border-top: none;
}

.filter td, .filter th{
  padding: 3px 8px;
  text-align: left;
}

.filter th{
  width: 20%;
}




.results{
  margin-top: 20px;
  width: 100%;
  border: 1px solid #b7b7bf;
  border-spacing: 0;
  border-collapse: collapse;
}

.results tr{
  border-top: 1px solid #b7b7bf;
}

.results tr:first-child{
  border-top: none;
}

.results td, .results th{
  border-left: 1px solid #b7b7bf;
  padding: 3px 8px;
  text-align: left;
}

.results td:first-child, .results th:first-child{
  border-left: none;
}

.results th{
  background: #ebebeb;
  text-align: left;
  font-weight: normal;
  color: #b7b7bf;
  text-decoration: underline;
  cursor: pointer;
}

.results th:hover{
  text-decoration: none;
}

.submit{
  margin: 15px auto;
  display: block;
  background: #8d8e93;
  border: none;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
}

.submit:hover{
  background: #ccc;
}
.red{
  color:red;
  display: inline
}
